*.pyc
*.pyo

.DS_Store

.idea/*

.settings/*
.project
.pydevproject
*.png
*.jpg


*.dat
sessions/*
node_modules/*

publisher.log
eyelid_model/model2/best/*
eyelid_model/model2/data/*

SenseVersion2/model_cnn/best/*
SenseVersion2/model_cnn/save/*